# --- Node Microservice ---
PORT=3000
PYTHON_BACKEND_URL=http://localhost:8000

# --- SMTP Config ---
SMTP_HOST=smtp.sumopod.com
SMTP_PORT=465
SMTP_USER=your_smtp_user
SMTP_PASSWORD=your_smtp_password
SMTP_FROM_EMAIL=support@oziktag.my.id
SMTP_FROM_NAME=Oziktag

# --- SumoPod Payment Gateway ---
SUMOPOD_API_KEY=YOUR_API_KEY
WEBHOOK_TOKEN=YOUR_WEBHOOK_TOKEN
APP_URL=http://localhost:5173
